{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{deps, [
    {lager, "3.9.2"}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [erlang_lorawan]}
]}.

{plugins, [
    {rebar3_format, "1.0.1"},
    {erlfmt, "1.0.0"}
]}.

{format, [
    {ignore, []},
    {files, [
        "rebar.config",
        "{src,include,test}/**/*.{hrl,erl,app.src}",
        "config/{sys,test}.{config,config.src}"
    ]},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{xref_ignores, []}.

{profiles, [
    {test, [
        {deps, []},
        {extra_src_dirs, [{"test", [{recursive, true}]}]}
    ]}
]}.
